In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

%matplotlib inline

In [2]:
risk_group1 = pd.read_csv('../Data/mort_risk_0-5_csv_dirty.csv')
risk_group2 = pd.read_csv('../Data/mort_risk_5-25_csv_dirty.csv')
risk_group3 = pd.read_csv('../Data/mort_risk_25-45_csv_dirty.csv')
risk_group4 = pd.read_csv('../Data/mort_risk_45-65_csv_dirty.csv')
risk_group5 = pd.read_csv('../Data/mort_risk_65-85_csv_dirty.csv')

In [3]:
risk_group1

,Location,County,"Mortality risk, 1980*","Mortality risk, 1985*","Mortality risk, 1990*","Mortality risk, 1995*","Mortality risk, 2000*","Mortality risk, 2005*","Mortality risk, 2010*","Mortality risk, 2014*","% Change in mortality risk, 1980-2014"
0,United States,All counties,"1.55 (1.54, 1.57)","1.26 (1.25, 1.27)","1.13 (1.12, 1.14)","0.89 (0.89, 0.90)","0.82 (0.81, 0.82)","0.80 (0.79, 0.81)","0.69 (0.68, 0.69)","0.62 (0.61, 0.64)","-59.88 (-60.82, -58.91)"
1,Alabama,All counties,"1.91 (1.89, 1.93)","1.57 (1.55, 1.59)","1.45 (1.43, 1.46)","1.16 (1.15, 1.18)","1.11 (1.10, 1.13)","1.12 (1.11, 1.14)","0.99 (0.98, 1.00)","0.91 (0.90, 0.92)","-52.28 (-52.90, -51.62)"
2,Alabama,Autauga,"1.83 (1.65, 2.01)","1.52 (1.37, 1.67)","1.41 (1.28, 1.54)","1.11 (1.00, 1.22)","1.05 (0.95, 1.15)","1.07 (0.97, 1.18)","0.94 (0.85, 1.02)","0.87 (0.78, 0.97)","-52.36 (-55.83, -48.76)"
3,Alabama,Baldwin,"1.66 (1.54, 1.78)","1.36 (1.27, 1.46)","1.25 (1.16, 1.34)","0.99 (0.92, 1.07)","0.92 (0.86, 0.99)","0.93 (0.86, 1.00)","0.83 (0.77, 0.89)","0.75 (0.70, 0.81)","-54.72 (-57.01, -52.31)"
4,Alabama,Barbour,"2.19 (1.96, 2.44)","1.79 (1.62, 1.99)","1.66 (1.48, 1.84)","1.31 (1.18, 1.46)","1.24 (1.12, 1.38)","1.25 (1.12, 1.39)","1.09 (0.98, 1.23)","1.01 (0.90, 1.12)","-54.03 (-57.32, -50.51)"
...,...,...,...,...,...,...,...,...,...,...,...
3187,Wyoming,Sweetwater,"1.53 (1.38, 1.69)","1.24 (1.12, 1.36)","1.14 (1.03, 1.25)","0.93 (0.84, 1.02)","0.87 (0.79, 0.96)","0.87 (0.79, 0.96)","0.76 (0.69, 0.84)","0.71 (0.64, 0.78)","-53.81 (-57.05, -50.18)"
3188,Wyoming,Teton,"1.37 (1.18, 1.58)","1.07 (0.93, 1.23)","0.92 (0.80, 1.05)","0.69 (0.60, 0.79)","0.61 (0.53, 0.69)","0.58 (0.50, 0.66)","0.49 (0.42, 0.56)","0.43 (0.37, 0.49)","-68.61 (-71.77, -65.01)"
3189,Wyoming,Uinta,"1.50 (1.33, 1.70)","1.23 (1.09, 1.38)","1.16 (1.04, 1.31)","0.95 (0.84, 1.07)","0.92 (0.82, 1.04)","0.93 (0.82, 1.05)","0.83 (0.74, 0.94)","0.78 (0.69, 0.89)","-47.91 (-53.30, -42.28)"
3190,Wyoming,Washakie,"1.49 (1.29, 1.73)","1.22 (1.06, 1.41)","1.12 (0.97, 1.30)","0.89 (0.77, 1.03)","0.84 (0.72, 0.98)","0.83 (0.71, 0.96)","0.73 (0.62, 0.85)","0.66 (0.56, 0.77)","-55.81 (-60.01, -50.69)"
3191,Wyoming,Weston,"1.74 (1.49, 2.01)","1.38 (1.20, 1.60)","1.22 (1.05, 1.41)","0.96 (0.83, 1.12)","0.88 (0.76, 1.02)","0.88 (0.76, 1.03)","0.74 (0.64, 0.87)","0.69 (0.59, 0.81)","-60.58 (-64.46, -55.97)"

In [4]:
risk_group1 = risk_group1.drop(columns=['% Change in mortality risk, 1980-2014'])
risk_group2 = risk_group2.drop(columns=['% Change in mortality risk, 1980-2014'])
risk_group3 = risk_group3.drop(columns=['% Change in mortality risk, 1980-2014'])
risk_group4 = risk_group4.drop(columns=['% Change in mortality risk, 1980-2014'])
risk_group5 = risk_group5.drop(columns=['% Change in mortality risk, 1980-2014'])

In [5]:
risk_group1[['AVG M/R 1980', 'Male M/R 1980', 'Female M/R 1980']] = risk_group1['Mortality risk, 1980*'].str.split(expand=True)
risk_group1 = risk_group1.drop('Mortality risk, 1980*', axis=1)
risk_group1

,Location,County,"Mortality risk, 1985*","Mortality risk, 1990*","Mortality risk, 1995*","Mortality risk, 2000*","Mortality risk, 2005*","Mortality risk, 2010*","Mortality risk, 2014*",AVG M/R 1980,Male M/R 1980,Female M/R 1980
0,United States,All counties,"1.26 (1.25, 1.27)","1.13 (1.12, 1.14)","0.89 (0.89, 0.90)","0.82 (0.81, 0.82)","0.80 (0.79, 0.81)","0.69 (0.68, 0.69)","0.62 (0.61, 0.64)",1.55,"(1.54,",1.57)
1,Alabama,All counties,"1.57 (1.55, 1.59)","1.45 (1.43, 1.46)","1.16 (1.15, 1.18)","1.11 (1.10, 1.13)","1.12 (1.11, 1.14)","0.99 (0.98, 1.00)","0.91 (0.90, 0.92)",1.91,"(1.89,",1.93)
2,Alabama,Autauga,"1.52 (1.37, 1.67)","1.41 (1.28, 1.54)","1.11 (1.00, 1.22)","1.05 (0.95, 1.15)","1.07 (0.97, 1.18)","0.94 (0.85, 1.02)","0.87 (0.78, 0.97)",1.83,"(1.65,",2.01)
3,Alabama,Baldwin,"1.36 (1.27, 1.46)","1.25 (1.16, 1.34)","0.99 (0.92, 1.07)","0.92 (0.86, 0.99)","0.93 (0.86, 1.00)","0.83 (0.77, 0.89)","0.75 (0.70, 0.81)",1.66,"(1.54,",1.78)
4,Alabama,Barbour,"1.79 (1.62, 1.99)","1.66 (1.48, 1.84)","1.31 (1.18, 1.46)","1.24 (1.12, 1.38)","1.25 (1.12, 1.39)","1.09 (0.98, 1.23)","1.01 (0.90, 1.12)",2.19,"(1.96,",2.44)
...,...,...,...,...,...,...,...,...,...,...,...,...
3187,Wyoming,Sweetwater,"1.24 (1.12, 1.36)","1.14 (1.03, 1.25)","0.93 (0.84, 1.02)","0.87 (0.79, 0.96)","0.87 (0.79, 0.96)","0.76 (0.69, 0.84)","0.71 (0.64, 0.78)",1.53,"(1.38,",1.69)
3188,Wyoming,Teton,"1.07 (0.93, 1.23)","0.92 (0.80, 1.05)","0.69 (0.60, 0.79)","0.61 (0.53, 0.69)","0.58 (0.50, 0.66)","0.49 (0.42, 0.56)","0.43 (0.37, 0.49)",1.37,"(1.18,",1.58)
3189,Wyoming,Uinta,"1.23 (1.09, 1.38)","1.16 (1.04, 1.31)","0.95 (0.84, 1.07)","0.92 (0.82, 1.04)","0.93 (0.82, 1.05)","0.83 (0.74, 0.94)","0.78 (0.69, 0.89)",1.50,"(1.33,",1.70)
3190,Wyoming,Washakie,"1.22 (1.06, 1.41)","1.12 (0.97, 1.30)","0.89 (0.77, 1.03)","0.84 (0.72, 0.98)","0.83 (0.71, 0.96)","0.73 (0.62, 0.85)","0.66 (0.56, 0.77)",1.49,"(1.29,",1.73)
3191,Wyoming,Weston,"1.38 (1.20, 1.60)","1.22 (1.05, 1.41)","0.96 (0.83, 1.12)","0.88 (0.76, 1.02)","0.88 (0.76, 1.03)","0.74 (0.64, 0.87)","0.69 (0.59, 0.81)",1.74,"(1.49,",2.01)

In [6]:
risk_group1[['AVG M/R 1985', 'Male M/R 1985', 'Female M/R 1985']] = risk_group1['Mortality risk, 1985*'].str.split(expand=True)
risk_group1 = risk_group1.drop('Mortality risk, 1985*', axis=1)
risk_group1[['AVG M/R 1990', 'Male M/R 1990', 'Female M/R 1990']] = risk_group1['Mortality risk, 1990*'].str.split(expand=True)
risk_group1 = risk_group1.drop('Mortality risk, 1990*', axis=1)
risk_group1[['AVG M/R 1995', 'Male M/R 1995', 'Female M/R 1995']] = risk_group1['Mortality risk, 1995*'].str.split(expand=True)
risk_group1 = risk_group1.drop('Mortality risk, 1995*', axis=1)
risk_group1[['AVG M/R 2000', 'Male M/R 2000', 'Female M/R 2000']] = risk_group1['Mortality risk, 2000*'].str.split(expand=True)
risk_group1 = risk_group1.drop('Mortality risk, 2000*', axis=1)
risk_group1[['AVG M/R 2005', 'Male M/R 2005', 'Female M/R 2005']] = risk_group1['Mortality risk, 2005*'].str.split(expand=True)
risk_group1 = risk_group1.drop('Mortality risk, 2005*', axis=1)
risk_group1[['AVG M/R 2010', 'Male M/R 2010', 'Female M/R 2010']] = risk_group1['Mortality risk, 2010*'].str.split(expand=True)
risk_group1 = risk_group1.drop('Mortality risk, 2010*', axis=1)
risk_group1[['AVG M/R 2014', 'Male M/R 2014', 'Female M/R 2014']] = risk_group1['Mortality risk, 2014*'].str.split(expand=True)
risk_group1 = risk_group1.drop('Mortality risk, 2014*', axis=1)
#risk_group1[['AVG M/R Change 1980-2014', 'Male M/R Change 1980-2014', 'Female M/R Change 1980-2014']] = risk_group1['% Change in mortality risk, 1980-2014'].str.split(expand=True)
#risk_group1 = risk_group1.drop('% Change in mortality risk, 1980-2014', axis=1)
risk_group1

,Location,County,AVG M/R 1980,Male M/R 1980,Female M/R 1980,AVG M/R 1985,Male M/R 1985,Female M/R 1985,AVG M/R 1990,Male M/R 1990,...,Female M/R 2000,AVG M/R 2005,Male M/R 2005,Female M/R 2005,AVG M/R 2010,Male M/R 2010,Female M/R 2010,AVG M/R 2014,Male M/R 2014,Female M/R 2014
0,United States,All counties,1.55,"(1.54,",1.57),1.26,"(1.25,",1.27),1.13,"(1.12,",...,0.82),0.80,"(0.79,",0.81),0.69,"(0.68,",0.69),0.62,"(0.61,",0.64)
1,Alabama,All counties,1.91,"(1.89,",1.93),1.57,"(1.55,",1.59),1.45,"(1.43,",...,1.13),1.12,"(1.11,",1.14),0.99,"(0.98,",1.00),0.91,"(0.90,",0.92)
2,Alabama,Autauga,1.83,"(1.65,",2.01),1.52,"(1.37,",1.67),1.41,"(1.28,",...,1.15),1.07,"(0.97,",1.18),0.94,"(0.85,",1.02),0.87,"(0.78,",0.97)
3,Alabama,Baldwin,1.66,"(1.54,",1.78),1.36,"(1.27,",1.46),1.25,"(1.16,",...,0.99),0.93,"(0.86,",1.00),0.83,"(0.77,",0.89),0.75,"(0.70,",0.81)
4,Alabama,Barbour,2.19,"(1.96,",2.44),1.79,"(1.62,",1.99),1.66,"(1.48,",...,1.38),1.25,"(1.12,",1.39),1.09,"(0.98,",1.23),1.01,"(0.90,",1.12)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3187,Wyoming,Sweetwater,1.53,"(1.38,",1.69),1.24,"(1.12,",1.36),1.14,"(1.03,",...,0.96),0.87,"(0.79,",0.96),0.76,"(0.69,",0.84),0.71,"(0.64,",0.78)
3188,Wyoming,Teton,1.37,"(1.18,",1.58),1.07,"(0.93,",1.23),0.92,"(0.80,",...,0.69),0.58,"(0.50,",0.66),0.49,"(0.42,",0.56),0.43,"(0.37,",0.49)
3189,Wyoming,Uinta,1.50,"(1.33,",1.70),1.23,"(1.09,",1.38),1.16,"(1.04,",...,1.04),0.93,"(0.82,",1.05),0.83,"(0.74,",0.94),0.78,"(0.69,",0.89)
3190,Wyoming,Washakie,1.49,"(1.29,",1.73),1.22,"(1.06,",1.41),1.12,"(0.97,",...,0.98),0.83,"(0.71,",0.96),0.73,"(0.62,",0.85),0.66,"(0.56,",0.77)
3191,Wyoming,Weston,1.74,"(1.49,",2.01),1.38,"(1.20,",1.60),1.22,"(1.05,",...,1.02),0.88,"(0.76,",1.03),0.74,"(0.64,",0.87),0.69,"(0.59,",0.81)

In [7]:
for col in risk_group1.columns:
    risk_group1[col] = risk_group1[col].str.replace('(', '').str.replace(')', '').str.replace(',', '')
risk_group1

,Location,County,AVG M/R 1980,Male M/R 1980,Female M/R 1980,AVG M/R 1985,Male M/R 1985,Female M/R 1985,AVG M/R 1990,Male M/R 1990,...,Female M/R 2000,AVG M/R 2005,Male M/R 2005,Female M/R 2005,AVG M/R 2010,Male M/R 2010,Female M/R 2010,AVG M/R 2014,Male M/R 2014,Female M/R 2014
0,United States,All counties,1.55,1.54,1.57,1.26,1.25,1.27,1.13,1.12,...,0.82,0.80,0.79,0.81,0.69,0.68,0.69,0.62,0.61,0.64
1,Alabama,All counties,1.91,1.89,1.93,1.57,1.55,1.59,1.45,1.43,...,1.13,1.12,1.11,1.14,0.99,0.98,1.00,0.91,0.90,0.92
2,Alabama,Autauga,1.83,1.65,2.01,1.52,1.37,1.67,1.41,1.28,...,1.15,1.07,0.97,1.18,0.94,0.85,1.02,0.87,0.78,0.97
3,Alabama,Baldwin,1.66,1.54,1.78,1.36,1.27,1.46,1.25,1.16,...,0.99,0.93,0.86,1.00,0.83,0.77,0.89,0.75,0.70,0.81
4,Alabama,Barbour,2.19,1.96,2.44,1.79,1.62,1.99,1.66,1.48,...,1.38,1.25,1.12,1.39,1.09,0.98,1.23,1.01,0.90,1.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3187,Wyoming,Sweetwater,1.53,1.38,1.69,1.24,1.12,1.36,1.14,1.03,...,0.96,0.87,0.79,0.96,0.76,0.69,0.84,0.71,0.64,0.78
3188,Wyoming,Teton,1.37,1.18,1.58,1.07,0.93,1.23,0.92,0.80,...,0.69,0.58,0.50,0.66,0.49,0.42,0.56,0.43,0.37,0.49
3189,Wyoming,Uinta,1.50,1.33,1.70,1.23,1.09,1.38,1.16,1.04,...,1.04,0.93,0.82,1.05,0.83,0.74,0.94,0.78,0.69,0.89
3190,Wyoming,Washakie,1.49,1.29,1.73,1.22,1.06,1.41,1.12,0.97,...,0.98,0.83,0.71,0.96,0.73,0.62,0.85,0.66,0.56,0.77
3191,Wyoming,Weston,1.74,1.49,2.01,1.38,1.20,1.60,1.22,1.05,...,1.02,0.88,0.76,1.03,0.74,0.64,0.87,0.69,0.59,0.81

In [8]:
risk_group2[['AVG M/R 1980', 'Male M/R 1980', 'Female M/R 1980']] = risk_group2['Mortality risk, 1980*'].str.split(expand=True)
risk_group2 = risk_group2.drop('Mortality risk, 1980*', axis=1)
risk_group2[['AVG M/R 1985', 'Male M/R 1985', 'Female M/R 1985']] = risk_group2['Mortality risk, 1985*'].str.split(expand=True)
risk_group2 = risk_group2.drop('Mortality risk, 1985*', axis=1)
risk_group2[['AVG M/R 1990', 'Male M/R 1990', 'Female M/R 1990']] = risk_group2['Mortality risk, 1990*'].str.split(expand=True)
risk_group2 = risk_group2.drop('Mortality risk, 1990*', axis=1)
risk_group2[['AVG M/R 1995', 'Male M/R 1995', 'Female M/R 1995']] = risk_group2['Mortality risk, 1995*'].str.split(expand=True)
risk_group2 = risk_group2.drop('Mortality risk, 1995*', axis=1)
risk_group2[['AVG M/R 2000', 'Male M/R 2000', 'Female M/R 2000']] = risk_group2['Mortality risk, 2000*'].str.split(expand=True)
risk_group2 = risk_group2.drop('Mortality risk, 2000*', axis=1)
risk_group2[['AVG M/R 2005', 'Male M/R 2005', 'Female M/R 2005']] = risk_group2['Mortality risk, 2005*'].str.split(expand=True)
risk_group2 = risk_group2.drop('Mortality risk, 2005*', axis=1)
risk_group2[['AVG M/R 2010', 'Male M/R 2010', 'Female M/R 2010']] = risk_group2['Mortality risk, 2010*'].str.split(expand=True)
risk_group2 = risk_group2.drop('Mortality risk, 2010*', axis=1)
risk_group2[['AVG M/R 2014', 'Male M/R 2014', 'Female M/R 2014']] = risk_group2['Mortality risk, 2014*'].str.split(expand=True)
risk_group2 = risk_group2.drop('Mortality risk, 2014*', axis=1)
#risk_group2[['AVG M/R Change 1980-2014', 'Male M/R Change 1980-2014', 'Female M/R Change 1980-2014']] = risk_group2['% Change in mortality risk, 1980-2014'].str.split(expand=True)
#risk_group2 = risk_group2.drop('% Change in mortality risk, 1980-2014', axis=1)
risk_group2

,Location,County,AVG M/R 1980,Male M/R 1980,Female M/R 1980,AVG M/R 1985,Male M/R 1985,Female M/R 1985,AVG M/R 1990,Male M/R 1990,...,Female M/R 2000,AVG M/R 2005,Male M/R 2005,Female M/R 2005,AVG M/R 2010,Male M/R 2010,Female M/R 2010,AVG M/R 2014,Male M/R 2014,Female M/R 2014
0,United States,All counties,1.43,"(1.42,",1.43),1.21,"(1.21,",1.22),1.21,"(1.21,",...,0.98),0.97,"(0.96,",1.00),0.81,"(0.80,",0.81),0.77,"(0.76,",0.77)
1,Alabama,All counties,1.76,"(1.74,",1.78),1.51,"(1.50,",1.53),1.53,"(1.52,",...,1.32),1.35,"(1.32,",1.39),1.15,"(1.14,",1.16),1.11,"(1.09,",1.12)
2,Alabama,Autauga,1.90,"(1.74,",2.08),1.67,"(1.52,",1.82),1.70,"(1.55,",...,1.53),1.46,"(1.33,",1.59),1.23,"(1.13,",1.35),1.20,"(1.10,",1.32)
3,Alabama,Baldwin,1.72,"(1.60,",1.84),1.47,"(1.38,",1.58),1.50,"(1.39,",...,1.30),1.26,"(1.17,",1.36),1.10,"(1.02,",1.18),1.03,"(0.97,",1.11)
4,Alabama,Barbour,2.06,"(1.88,",2.27),1.77,"(1.61,",1.93),1.82,"(1.66,",...,1.72),1.62,"(1.45,",1.80),1.36,"(1.23,",1.50),1.31,"(1.18,",1.44)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3187,Wyoming,Sweetwater,1.88,"(1.71,",2.06),1.56,"(1.43,",1.70),1.54,"(1.41,",...,1.43),1.38,"(1.25,",1.51),1.15,"(1.06,",1.26),1.13,"(1.03,",1.24)
3188,Wyoming,Teton,1.47,"(1.29,",1.69),1.20,"(1.05,",1.35),1.13,"(0.99,",...,0.97),0.83,"(0.72,",0.94),0.68,"(0.59,",0.77),0.60,"(0.53,",0.69)
3189,Wyoming,Uinta,1.65,"(1.46,",1.85),1.39,"(1.24,",1.54),1.43,"(1.28,",...,1.37),1.29,"(1.14,",1.45),1.10,"(0.98,",1.24),1.09,"(0.96,",1.23)
3190,Wyoming,Washakie,1.57,"(1.37,",1.79),1.33,"(1.17,",1.52),1.35,"(1.19,",...,1.23),1.12,"(0.98,",1.28),0.93,"(0.81,",1.07),0.90,"(0.79,",1.03)
3191,Wyoming,Weston,1.78,"(1.56,",2.04),1.46,"(1.29,",1.67),1.44,"(1.27,",...,1.41),1.19,"(1.03,",1.38),1.00,"(0.86,",1.17),0.96,"(0.83,",1.13)

In [9]:
for col in risk_group2.columns:
    risk_group2[col] = risk_group2[col].str.replace('(', '').str.replace(')', '').str.replace(',', '')
risk_group2

,Location,County,AVG M/R 1980,Male M/R 1980,Female M/R 1980,AVG M/R 1985,Male M/R 1985,Female M/R 1985,AVG M/R 1990,Male M/R 1990,...,Female M/R 2000,AVG M/R 2005,Male M/R 2005,Female M/R 2005,AVG M/R 2010,Male M/R 2010,Female M/R 2010,AVG M/R 2014,Male M/R 2014,Female M/R 2014
0,United States,All counties,1.43,1.42,1.43,1.21,1.21,1.22,1.21,1.21,...,0.98,0.97,0.96,1.00,0.81,0.80,0.81,0.77,0.76,0.77
1,Alabama,All counties,1.76,1.74,1.78,1.51,1.50,1.53,1.53,1.52,...,1.32,1.35,1.32,1.39,1.15,1.14,1.16,1.11,1.09,1.12
2,Alabama,Autauga,1.90,1.74,2.08,1.67,1.52,1.82,1.70,1.55,...,1.53,1.46,1.33,1.59,1.23,1.13,1.35,1.20,1.10,1.32
3,Alabama,Baldwin,1.72,1.60,1.84,1.47,1.38,1.58,1.50,1.39,...,1.30,1.26,1.17,1.36,1.10,1.02,1.18,1.03,0.97,1.11
4,Alabama,Barbour,2.06,1.88,2.27,1.77,1.61,1.93,1.82,1.66,...,1.72,1.62,1.45,1.80,1.36,1.23,1.50,1.31,1.18,1.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3187,Wyoming,Sweetwater,1.88,1.71,2.06,1.56,1.43,1.70,1.54,1.41,...,1.43,1.38,1.25,1.51,1.15,1.06,1.26,1.13,1.03,1.24
3188,Wyoming,Teton,1.47,1.29,1.69,1.20,1.05,1.35,1.13,0.99,...,0.97,0.83,0.72,0.94,0.68,0.59,0.77,0.60,0.53,0.69
3189,Wyoming,Uinta,1.65,1.46,1.85,1.39,1.24,1.54,1.43,1.28,...,1.37,1.29,1.14,1.45,1.10,0.98,1.24,1.09,0.96,1.23
3190,Wyoming,Washakie,1.57,1.37,1.79,1.33,1.17,1.52,1.35,1.19,...,1.23,1.12,0.98,1.28,0.93,0.81,1.07,0.90,0.79,1.03
3191,Wyoming,Weston,1.78,1.56,2.04,1.46,1.29,1.67,1.44,1.27,...,1.41,1.19,1.03,1.38,1.00,0.86,1.17,0.96,0.83,1.13

In [10]:
risk_group3[['AVG M/R 1980', 'Male M/R 1980', 'Female M/R 1980']] = risk_group3['Mortality risk, 1980*'].str.split(expand=True)
risk_group3 = risk_group3.drop('Mortality risk, 1980*', axis=1)
risk_group3[['AVG M/R 1985', 'Male M/R 1985', 'Female M/R 1985']] = risk_group3['Mortality risk, 1985*'].str.split(expand=True)
risk_group3 = risk_group3.drop('Mortality risk, 1985*', axis=1)
risk_group3[['AVG M/R 1990', 'Male M/R 1990', 'Female M/R 1990']] = risk_group3['Mortality risk, 1990*'].str.split(expand=True)
risk_group3 = risk_group3.drop('Mortality risk, 1990*', axis=1)
risk_group3[['AVG M/R 1995', 'Male M/R 1995', 'Female M/R 1995']] = risk_group3['Mortality risk, 1995*'].str.split(expand=True)
risk_group3 = risk_group3.drop('Mortality risk, 1995*', axis=1)
risk_group3[['AVG M/R 2000', 'Male M/R 2000', 'Female M/R 2000']] = risk_group3['Mortality risk, 2000*'].str.split(expand=True)
risk_group3 = risk_group3.drop('Mortality risk, 2000*', axis=1)
risk_group3[['AVG M/R 2005', 'Male M/R 2005', 'Female M/R 2005']] = risk_group3['Mortality risk, 2005*'].str.split(expand=True)
risk_group3 = risk_group3.drop('Mortality risk, 2005*', axis=1)
risk_group3[['AVG M/R 2010', 'Male M/R 2010', 'Female M/R 2010']] = risk_group3['Mortality risk, 2010*'].str.split(expand=True)
risk_group3 = risk_group3.drop('Mortality risk, 2010*', axis=1)
risk_group3[['AVG M/R 2014', 'Male M/R 2014', 'Female M/R 2014']] = risk_group3['Mortality risk, 2014*'].str.split(expand=True)
risk_group3 = risk_group3.drop('Mortality risk, 2014*', axis=1)
#risk_group3[['AVG M/R Change 1980-2014', 'Male M/R Change 1980-2014', 'Female M/R Change 1980-2014']] = risk_group3['% Change in mortality risk, 1980-2014'].str.split(expand=True)
#risk_group3 = risk_group3.drop('% Change in mortality risk, 1980-2014', axis=1)
risk_group3

,Location,County,AVG M/R 1980,Male M/R 1980,Female M/R 1980,AVG M/R 1985,Male M/R 1985,Female M/R 1985,AVG M/R 1990,Male M/R 1990,...,Female M/R 2000,AVG M/R 2005,Male M/R 2005,Female M/R 2005,AVG M/R 2010,Male M/R 2010,Female M/R 2010,AVG M/R 2014,Male M/R 2014,Female M/R 2014
0,United States,All counties,3.60,"(3.59,",3.61),3.36,"(3.35,",3.36),3.55,"(3.55,",...,2.98),2.96,"(2.94,",2.99),2.71,"(2.71,",2.72),2.68,"(2.67,",2.69)
1,Alabama,All counties,4.27,"(4.23,",4.30),4.06,"(4.02,",4.09),4.38,"(4.34,",...,3.97),4.05,"(4.01,",4.10),3.82,"(3.78,",3.85),3.84,"(3.80,",3.87)
2,Alabama,Autauga,4.00,"(3.72,",4.28),3.84,"(3.59,",4.12),4.16,"(3.89,",...,3.82),3.75,"(3.51,",4.01),3.49,"(3.26,",3.72),3.55,"(3.30,",3.79)
3,Alabama,Baldwin,3.78,"(3.58,",3.96),3.57,"(3.38,",3.76),3.85,"(3.67,",...,3.44),3.41,"(3.25,",3.59),3.28,"(3.12,",3.44),3.23,"(3.08,",3.39)
4,Alabama,Barbour,4.34,"(4.01,",4.65),4.11,"(3.81,",4.42),4.47,"(4.14,",...,4.34),4.25,"(3.96,",4.60),3.97,"(3.68,",4.28),4.01,"(3.71,",4.34)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3187,Wyoming,Sweetwater,3.56,"(3.29,",3.82),3.27,"(3.04,",3.53),3.48,"(3.27,",...,3.27),3.15,"(2.96,",3.37),2.97,"(2.76,",3.18),3.00,"(2.81,",3.21)
3188,Wyoming,Teton,2.82,"(2.53,",3.17),2.54,"(2.31,",2.81),2.56,"(2.34,",...,2.20),1.94,"(1.78,",2.12),1.75,"(1.59,",1.92),1.67,"(1.52,",1.85)
3189,Wyoming,Uinta,3.42,"(3.12,",3.74),3.16,"(2.92,",3.44),3.45,"(3.17,",...,3.37),3.24,"(2.98,",3.51),3.13,"(2.87,",3.41),3.19,"(2.91,",3.49)
3190,Wyoming,Washakie,3.33,"(2.99,",3.70),3.11,"(2.80,",3.44),3.31,"(2.98,",...,3.15),2.90,"(2.62,",3.21),2.73,"(2.44,",3.03),2.76,"(2.46,",3.08)
3191,Wyoming,Weston,3.89,"(3.49,",4.33),3.59,"(3.25,",3.97),3.81,"(3.41,",...,3.49),3.23,"(2.89,",3.57),2.98,"(2.65,",3.32),3.00,"(2.64,",3.38)

In [11]:
for col in risk_group3.columns:
    risk_group3[col] = risk_group3[col].str.replace('(', '').str.replace(')', '').str.replace(',', '')
risk_group3

,Location,County,AVG M/R 1980,Male M/R 1980,Female M/R 1980,AVG M/R 1985,Male M/R 1985,Female M/R 1985,AVG M/R 1990,Male M/R 1990,...,Female M/R 2000,AVG M/R 2005,Male M/R 2005,Female M/R 2005,AVG M/R 2010,Male M/R 2010,Female M/R 2010,AVG M/R 2014,Male M/R 2014,Female M/R 2014
0,United States,All counties,3.60,3.59,3.61,3.36,3.35,3.36,3.55,3.55,...,2.98,2.96,2.94,2.99,2.71,2.71,2.72,2.68,2.67,2.69
1,Alabama,All counties,4.27,4.23,4.30,4.06,4.02,4.09,4.38,4.34,...,3.97,4.05,4.01,4.10,3.82,3.78,3.85,3.84,3.80,3.87
2,Alabama,Autauga,4.00,3.72,4.28,3.84,3.59,4.12,4.16,3.89,...,3.82,3.75,3.51,4.01,3.49,3.26,3.72,3.55,3.30,3.79
3,Alabama,Baldwin,3.78,3.58,3.96,3.57,3.38,3.76,3.85,3.67,...,3.44,3.41,3.25,3.59,3.28,3.12,3.44,3.23,3.08,3.39
4,Alabama,Barbour,4.34,4.01,4.65,4.11,3.81,4.42,4.47,4.14,...,4.34,4.25,3.96,4.60,3.97,3.68,4.28,4.01,3.71,4.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3187,Wyoming,Sweetwater,3.56,3.29,3.82,3.27,3.04,3.53,3.48,3.27,...,3.27,3.15,2.96,3.37,2.97,2.76,3.18,3.00,2.81,3.21
3188,Wyoming,Teton,2.82,2.53,3.17,2.54,2.31,2.81,2.56,2.34,...,2.20,1.94,1.78,2.12,1.75,1.59,1.92,1.67,1.52,1.85
3189,Wyoming,Uinta,3.42,3.12,3.74,3.16,2.92,3.44,3.45,3.17,...,3.37,3.24,2.98,3.51,3.13,2.87,3.41,3.19,2.91,3.49
3190,Wyoming,Washakie,3.33,2.99,3.70,3.11,2.80,3.44,3.31,2.98,...,3.15,2.90,2.62,3.21,2.73,2.44,3.03,2.76,2.46,3.08
3191,Wyoming,Weston,3.89,3.49,4.33,3.59,3.25,3.97,3.81,3.41,...,3.49,3.23,2.89,3.57,2.98,2.65,3.32,3.00,2.64,3.38

In [12]:
risk_group4[['AVG M/R 1980', 'Male M/R 1980', 'Female M/R 1980']] = risk_group4['Mortality risk, 1980*'].str.split(expand=True)
risk_group4 = risk_group4.drop('Mortality risk, 1980*', axis=1)
risk_group4[['AVG M/R 1985', 'Male M/R 1985', 'Female M/R 1985']] = risk_group4['Mortality risk, 1985*'].str.split(expand=True)
risk_group4 = risk_group4.drop('Mortality risk, 1985*', axis=1)
risk_group4[['AVG M/R 1990', 'Male M/R 1990', 'Female M/R 1990']] = risk_group4['Mortality risk, 1990*'].str.split(expand=True)
risk_group4 = risk_group4.drop('Mortality risk, 1990*', axis=1)
risk_group4[['AVG M/R 1995', 'Male M/R 1995', 'Female M/R 1995']] = risk_group4['Mortality risk, 1995*'].str.split(expand=True)
risk_group4 = risk_group4.drop('Mortality risk, 1995*', axis=1)
risk_group4[['AVG M/R 2000', 'Male M/R 2000', 'Female M/R 2000']] = risk_group4['Mortality risk, 2000*'].str.split(expand=True)
risk_group4 = risk_group4.drop('Mortality risk, 2000*', axis=1)
risk_group4[['AVG M/R 2005', 'Male M/R 2005', 'Female M/R 2005']] = risk_group4['Mortality risk, 2005*'].str.split(expand=True)
risk_group4 = risk_group4.drop('Mortality risk, 2005*', axis=1)
risk_group4[['AVG M/R 2010', 'Male M/R 2010', 'Female M/R 2010']] = risk_group4['Mortality risk, 2010*'].str.split(expand=True)
risk_group4 = risk_group4.drop('Mortality risk, 2010*', axis=1)
risk_group4[['AVG M/R 2014', 'Male M/R 2014', 'Female M/R 2014']] = risk_group4['Mortality risk, 2014*'].str.split(expand=True)
risk_group4 = risk_group4.drop('Mortality risk, 2014*', axis=1)
#risk_group4[['AVG M/R Change 1980-2014', 'Male M/R Change 1980-2014', 'Female M/R Change 1980-2014']] = risk_group4['% Change in mortality risk, 1980-2014'].str.split(expand=True)
#risk_group4 = risk_group4.drop('% Change in mortality risk, 1980-2014', axis=1)
risk_group4

,Location,County,AVG M/R 1980,Male M/R 1980,Female M/R 1980,AVG M/R 1985,Male M/R 1985,Female M/R 1985,AVG M/R 1990,Male M/R 1990,...,Female M/R 2000,AVG M/R 2005,Male M/R 2005,Female M/R 2005,AVG M/R 2010,Male M/R 2010,Female M/R 2010,AVG M/R 2014,Male M/R 2014,Female M/R 2014
0,United States,All counties,17.75,"(17.72,",17.78),16.57,"(16.54,",16.59),15.41,"(15.39,",...,13.39),12.77,"(12.75,",12.82),11.93,"(11.92,",11.95),11.83,"(11.78,",11.87)
1,Alabama,All counties,19.67,"(19.53,",19.80),18.71,"(18.59,",18.83),17.82,"(17.71,",...,16.66),16.42,"(16.31,",16.52),15.78,"(15.68,",15.88),15.86,"(15.75,",15.97)
2,Alabama,Autauga,20.11,"(19.11,",21.27),19.27,"(18.25,",20.31),18.30,"(17.44,",...,17.05),16.21,"(15.51,",16.97),15.35,"(14.60,",16.08),15.66,"(14.92,",16.41)
3,Alabama,Baldwin,16.39,"(15.75,",17.04),15.48,"(14.92,",16.07),14.74,"(14.22,",...,13.44),12.84,"(12.40,",13.29),12.47,"(12.08,",12.90),12.32,"(11.90,",12.73)
4,Alabama,Barbour,20.53,"(19.39,",21.67),19.47,"(18.44,",20.45),18.70,"(17.81,",...,17.87),16.98,"(16.14,",17.82),16.10,"(15.23,",17.00),16.25,"(15.32,",17.15)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3187,Wyoming,Sweetwater,15.58,"(14.66,",16.52),14.46,"(13.66,",15.27),13.69,"(12.98,",...,13.24),12.30,"(11.64,",12.97),11.63,"(10.97,",12.29),11.79,"(11.16,",12.47)
3188,Wyoming,Teton,12.71,"(11.64,",13.83),11.46,"(10.60,",12.37),10.17,"(9.44,",...,8.87),7.63,"(7.10,",8.24),6.97,"(6.47,",7.54),6.68,"(6.17,",7.24)
3189,Wyoming,Uinta,15.49,"(14.26,",16.74),14.51,"(13.49,",15.49),14.04,"(13.16,",...,13.74),12.94,"(12.13,",13.77),12.54,"(11.68,",13.37),12.87,"(11.91,",13.82)
3190,Wyoming,Washakie,15.24,"(13.97,",16.49),14.21,"(13.18,",15.28),13.37,"(12.35,",...,12.94),11.66,"(10.82,",12.56),10.93,"(10.06,",11.86),11.02,"(10.03,",12.01)
3191,Wyoming,Weston,16.89,"(15.49,",18.37),15.38,"(14.18,",16.57),14.26,"(13.15,",...,13.42),12.07,"(11.13,",13.08),11.28,"(10.35,",12.32),11.27,"(10.28,",12.39)

In [13]:
for col in risk_group4.columns:
    risk_group4[col] = risk_group4[col].str.replace('(', '').str.replace(')', '').str.replace(',', '')
risk_group4

,Location,County,AVG M/R 1980,Male M/R 1980,Female M/R 1980,AVG M/R 1985,Male M/R 1985,Female M/R 1985,AVG M/R 1990,Male M/R 1990,...,Female M/R 2000,AVG M/R 2005,Male M/R 2005,Female M/R 2005,AVG M/R 2010,Male M/R 2010,Female M/R 2010,AVG M/R 2014,Male M/R 2014,Female M/R 2014
0,United States,All counties,17.75,17.72,17.78,16.57,16.54,16.59,15.41,15.39,...,13.39,12.77,12.75,12.82,11.93,11.92,11.95,11.83,11.78,11.87
1,Alabama,All counties,19.67,19.53,19.80,18.71,18.59,18.83,17.82,17.71,...,16.66,16.42,16.31,16.52,15.78,15.68,15.88,15.86,15.75,15.97
2,Alabama,Autauga,20.11,19.11,21.27,19.27,18.25,20.31,18.30,17.44,...,17.05,16.21,15.51,16.97,15.35,14.60,16.08,15.66,14.92,16.41
3,Alabama,Baldwin,16.39,15.75,17.04,15.48,14.92,16.07,14.74,14.22,...,13.44,12.84,12.40,13.29,12.47,12.08,12.90,12.32,11.90,12.73
4,Alabama,Barbour,20.53,19.39,21.67,19.47,18.44,20.45,18.70,17.81,...,17.87,16.98,16.14,17.82,16.10,15.23,17.00,16.25,15.32,17.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3187,Wyoming,Sweetwater,15.58,14.66,16.52,14.46,13.66,15.27,13.69,12.98,...,13.24,12.30,11.64,12.97,11.63,10.97,12.29,11.79,11.16,12.47
3188,Wyoming,Teton,12.71,11.64,13.83,11.46,10.60,12.37,10.17,9.44,...,8.87,7.63,7.10,8.24,6.97,6.47,7.54,6.68,6.17,7.24
3189,Wyoming,Uinta,15.49,14.26,16.74,14.51,13.49,15.49,14.04,13.16,...,13.74,12.94,12.13,13.77,12.54,11.68,13.37,12.87,11.91,13.82
3190,Wyoming,Washakie,15.24,13.97,16.49,14.21,13.18,15.28,13.37,12.35,...,12.94,11.66,10.82,12.56,10.93,10.06,11.86,11.02,10.03,12.01
3191,Wyoming,Weston,16.89,15.49,18.37,15.38,14.18,16.57,14.26,13.15,...,13.42,12.07,11.13,13.08,11.28,10.35,12.32,11.27,10.28,12.39

In [14]:
risk_group5[['AVG M/R 1980', 'Male M/R 1980', 'Female M/R 1980']] = risk_group5['Mortality risk, 1980*'].str.split(expand=True)
risk_group5 = risk_group5.drop('Mortality risk, 1980*', axis=1)
risk_group5[['AVG M/R 1985', 'Male M/R 1985', 'Female M/R 1985']] = risk_group5['Mortality risk, 1985*'].str.split(expand=True)
risk_group5 = risk_group5.drop('Mortality risk, 1985*', axis=1)
risk_group5[['AVG M/R 1990', 'Male M/R 1990', 'Female M/R 1990']] = risk_group5['Mortality risk, 1990*'].str.split(expand=True)
risk_group5 = risk_group5.drop('Mortality risk, 1990*', axis=1)
risk_group5[['AVG M/R 1995', 'Male M/R 1995', 'Female M/R 1995']] = risk_group5['Mortality risk, 1995*'].str.split(expand=True)
risk_group5 = risk_group5.drop('Mortality risk, 1995*', axis=1)
risk_group5[['AVG M/R 2000', 'Male M/R 2000', 'Female M/R 2000']] = risk_group5['Mortality risk, 2000*'].str.split(expand=True)
risk_group5 = risk_group5.drop('Mortality risk, 2000*', axis=1)
risk_group5[['AVG M/R 2005', 'Male M/R 2005', 'Female M/R 2005']] = risk_group5['Mortality risk, 2005*'].str.split(expand=True)
risk_group5 = risk_group5.drop('Mortality risk, 2005*', axis=1)
risk_group5[['AVG M/R 2010', 'Male M/R 2010', 'Female M/R 2010']] = risk_group5['Mortality risk, 2010*'].str.split(expand=True)
risk_group5 = risk_group5.drop('Mortality risk, 2010*', axis=1)
risk_group5[['AVG M/R 2014', 'Male M/R 2014', 'Female M/R 2014']] = risk_group5['Mortality risk, 2014*'].str.split(expand=True)
risk_group5 = risk_group5.drop('Mortality risk, 2014*', axis=1)
#risk_group5[['AVG M/R Change 1980-2014', 'Male M/R Change 1980-2014', 'Female M/R Change 1980-2014']] = risk_group5['% Change in mortality risk, 1980-2014'].str.split(expand=True)
#risk_group5 = risk_group5.drop('% Change in mortality risk, 1980-2014', axis=1)
risk_group5

,Location,County,AVG M/R 1980,Male M/R 1980,Female M/R 1980,AVG M/R 1985,Male M/R 1985,Female M/R 1985,AVG M/R 1990,Male M/R 1990,...,Female M/R 2000,AVG M/R 2005,Male M/R 2005,Female M/R 2005,AVG M/R 2010,Male M/R 2010,Female M/R 2010,AVG M/R 2014,Male M/R 2014,Female M/R 2014
0,United States,All counties,63.89,"(63.84,",63.94),62.38,"(62.34,",62.42),60.00,"(59.96,",...,57.19),53.52,"(53.47,",53.58),49.89,"(49.85,",49.93),49.25,"(49.14,",49.36)
1,Alabama,All counties,65.00,"(64.75,",65.24),64.28,"(64.02,",64.54),62.73,"(62.49,",...,62.71),60.31,"(60.10,",60.53),57.47,"(57.25,",57.69),57.46,"(57.22,",57.70)
2,Alabama,Autauga,66.76,"(64.76,",68.79),66.56,"(64.62,",68.38),65.09,"(63.27,",...,64.68),61.40,"(59.80,",62.99),58.12,"(56.34,",59.77),58.37,"(56.60,",60.11)
3,Alabama,Baldwin,61.16,"(59.65,",62.52),60.07,"(58.68,",61.45),58.35,"(57.11,",...,57.42),53.76,"(52.61,",54.89),51.22,"(50.09,",52.37),50.49,"(49.31,",51.66)
4,Alabama,Barbour,65.71,"(63.72,",67.65),64.76,"(62.90,",66.52),63.43,"(61.58,",...,63.49),59.37,"(57.68,",61.06),56.31,"(54.37,",58.14),56.25,"(54.42,",58.15)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3187,Wyoming,Sweetwater,63.06,"(60.77,",65.23),61.30,"(59.31,",63.23),59.37,"(57.41,",...,60.38),56.21,"(54.40,",58.04),52.90,"(50.98,",54.65),53.26,"(51.21,",55.19)
3188,Wyoming,Teton,58.44,"(54.87,",61.91),55.34,"(52.27,",58.25),50.91,"(48.29,",...,48.02),41.30,"(39.12,",43.66),37.29,"(35.21,",39.86),35.78,"(33.62,",38.14)
3189,Wyoming,Uinta,59.32,"(56.26,",62.26),58.00,"(55.39,",60.58),57.03,"(54.62,",...,59.86),55.57,"(53.25,",57.76),53.12,"(50.67,",55.57),53.41,"(50.76,",56.00)
3190,Wyoming,Washakie,61.80,"(58.97,",64.59),60.55,"(57.89,",63.05),58.55,"(56.18,",...,59.49),53.75,"(51.50,",56.16),50.49,"(47.95,",53.23),49.91,"(47.18,",52.75)
3191,Wyoming,Weston,63.99,"(60.88,",67.08),61.64,"(58.89,",64.35),59.07,"(56.36,",...,59.34),53.67,"(51.31,",56.21),49.48,"(46.96,",52.48),48.68,"(45.84,",51.60)

In [15]:
for col in risk_group5.columns:
    risk_group5[col] = risk_group5[col].str.replace('(', '').str.replace(')', '').str.replace(',', '')
risk_group5

,Location,County,AVG M/R 1980,Male M/R 1980,Female M/R 1980,AVG M/R 1985,Male M/R 1985,Female M/R 1985,AVG M/R 1990,Male M/R 1990,...,Female M/R 2000,AVG M/R 2005,Male M/R 2005,Female M/R 2005,AVG M/R 2010,Male M/R 2010,Female M/R 2010,AVG M/R 2014,Male M/R 2014,Female M/R 2014
0,United States,All counties,63.89,63.84,63.94,62.38,62.34,62.42,60.00,59.96,...,57.19,53.52,53.47,53.58,49.89,49.85,49.93,49.25,49.14,49.36
1,Alabama,All counties,65.00,64.75,65.24,64.28,64.02,64.54,62.73,62.49,...,62.71,60.31,60.10,60.53,57.47,57.25,57.69,57.46,57.22,57.70
2,Alabama,Autauga,66.76,64.76,68.79,66.56,64.62,68.38,65.09,63.27,...,64.68,61.40,59.80,62.99,58.12,56.34,59.77,58.37,56.60,60.11
3,Alabama,Baldwin,61.16,59.65,62.52,60.07,58.68,61.45,58.35,57.11,...,57.42,53.76,52.61,54.89,51.22,50.09,52.37,50.49,49.31,51.66
4,Alabama,Barbour,65.71,63.72,67.65,64.76,62.90,66.52,63.43,61.58,...,63.49,59.37,57.68,61.06,56.31,54.37,58.14,56.25,54.42,58.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3187,Wyoming,Sweetwater,63.06,60.77,65.23,61.30,59.31,63.23,59.37,57.41,...,60.38,56.21,54.40,58.04,52.90,50.98,54.65,53.26,51.21,55.19
3188,Wyoming,Teton,58.44,54.87,61.91,55.34,52.27,58.25,50.91,48.29,...,48.02,41.30,39.12,43.66,37.29,35.21,39.86,35.78,33.62,38.14
3189,Wyoming,Uinta,59.32,56.26,62.26,58.00,55.39,60.58,57.03,54.62,...,59.86,55.57,53.25,57.76,53.12,50.67,55.57,53.41,50.76,56.00
3190,Wyoming,Washakie,61.80,58.97,64.59,60.55,57.89,63.05,58.55,56.18,...,59.49,53.75,51.50,56.16,50.49,47.95,53.23,49.91,47.18,52.75
3191,Wyoming,Weston,63.99,60.88,67.08,61.64,58.89,64.35,59.07,56.36,...,59.34,53.67,51.31,56.21,49.48,46.96,52.48,48.68,45.84,51.60

In [16]:
risk_group1_melt = risk_group1.melt(id_vars=['Location', 'County'],var_name='Var/Year', value_name='Mortality Risk %')
risk_group2_melt = risk_group2.melt(id_vars=['Location', 'County'],var_name='Var/Year', value_name='Mortality Risk %')
risk_group3_melt = risk_group3.melt(id_vars=['Location', 'County'],var_name='Var/Year', value_name='Mortality Risk %')
risk_group4_melt = risk_group4.melt(id_vars=['Location', 'County'],var_name='Var/Year', value_name='Mortality Risk %')
risk_group5_melt = risk_group5.melt(id_vars=['Location', 'County'],var_name='Var/Year', value_name='Mortality Risk %')
risk_group1_melt

            Location        County         Var/Year Mortality Risk %
0      United States  All counties     AVG M/R 1980             1.55
1            Alabama  All counties     AVG M/R 1980             1.91
2            Alabama       Autauga     AVG M/R 1980             1.83
3            Alabama       Baldwin     AVG M/R 1980             1.66
4            Alabama       Barbour     AVG M/R 1980             2.19
...              ...           ...              ...              ...
76603        Wyoming    Sweetwater  Female M/R 2014             0.78
76604        Wyoming         Teton  Female M/R 2014             0.49
76605        Wyoming         Uinta  Female M/R 2014             0.89
76606        Wyoming      Washakie  Female M/R 2014             0.77
76607        Wyoming        Weston  Female M/R 2014             0.81

[76608 rows x 4 columns]

In [17]:
risk_group1_melt[['Sex', 'Year']] = risk_group1_melt['Var/Year'].str.split(pat = ' M\/R ', expand = True)
risk_group2_melt[['Sex', 'Year']] = risk_group2_melt['Var/Year'].str.split(pat = ' M\/R ', expand = True)
risk_group3_melt[['Sex', 'Year']] = risk_group3_melt['Var/Year'].str.split(pat = ' M\/R ', expand = True)
risk_group4_melt[['Sex', 'Year']] = risk_group4_melt['Var/Year'].str.split(pat = ' M\/R ', expand = True)
risk_group5_melt[['Sex', 'Year']] = risk_group5_melt['Var/Year'].str.split(pat = ' M\/R ', expand = True)
risk_group1_melt

,Location,County,Var/Year,Mortality Risk %,Sex,Year
0,United States,All counties,AVG M/R 1980,1.55,AVG,1980
1,Alabama,All counties,AVG M/R 1980,1.91,AVG,1980
2,Alabama,Autauga,AVG M/R 1980,1.83,AVG,1980
3,Alabama,Baldwin,AVG M/R 1980,1.66,AVG,1980
4,Alabama,Barbour,AVG M/R 1980,2.19,AVG,1980
...,...,...,...,...,...,...
76603,Wyoming,Sweetwater,Female M/R 2014,0.78,Female,2014
76604,Wyoming,Teton,Female M/R 2014,0.49,Female,2014
76605,Wyoming,Uinta,Female M/R 2014,0.89,Female,2014
76606,Wyoming,Washakie,Female M/R 2014,0.77,Female,2014
76607,Wyoming,Weston,Female M/R 2014,0.81,Female,2014

In [18]:
risk_group1_melt = risk_group1_melt.drop(columns=['Var/Year'])
risk_group2_melt = risk_group2_melt.drop(columns=['Var/Year'])
risk_group3_melt = risk_group3_melt.drop(columns=['Var/Year'])
risk_group4_melt = risk_group4_melt.drop(columns=['Var/Year'])
risk_group5_melt = risk_group5_melt.drop(columns=['Var/Year'])

In [19]:
risk_group1_melt['Sex'] = risk_group1_melt['Sex'].str.replace('AVG','Combined')
risk_group2_melt['Sex'] = risk_group2_melt['Sex'].str.replace('AVG','Combined')
risk_group3_melt['Sex'] = risk_group3_melt['Sex'].str.replace('AVG','Combined')
risk_group4_melt['Sex'] = risk_group4_melt['Sex'].str.replace('AVG','Combined')
risk_group5_melt['Sex'] = risk_group5_melt['Sex'].str.replace('AVG','Cpmbined')

In [20]:
risk_group1_melt

            Location        County Mortality Risk %       Sex  Year
0      United States  All counties             1.55  Combined  1980
1            Alabama  All counties             1.91  Combined  1980
2            Alabama       Autauga             1.83  Combined  1980
3            Alabama       Baldwin             1.66  Combined  1980
4            Alabama       Barbour             2.19  Combined  1980
...              ...           ...              ...       ...   ...
76603        Wyoming    Sweetwater             0.78    Female  2014
76604        Wyoming         Teton             0.49    Female  2014
76605        Wyoming         Uinta             0.89    Female  2014
76606        Wyoming      Washakie             0.77    Female  2014
76607        Wyoming        Weston             0.81    Female  2014

[76608 rows x 5 columns]

In [24]:
risk_group1_melt.to_csv('../Data/mort_risk_0-5_csv.csv')
risk_group2_melt.to_csv('../Data/mort_risk_5-25_csv.csv')
risk_group3_melt.to_csv('../Data/mort_risk_25-45_csv.csv')
risk_group4_melt.to_csv('../Data/mort_risk_45-65_csv.csv')
risk_group5_melt.to_csv('../Data/mort_risk_65-85_csv.csv')

In [22]:
risk_group1_melt['Sex'].value_counts()

Combined    25536
Male        25536
Female      25536
Name: Sex, dtype: int64